<div class="container">
    <a routerLink="/post" style="float: right;" class="btn btn-danger mb-5">Back</a>
    <h3 class="mt-2">Post Detail</h3>
    <table class="table table-bordered mt-3">
        <tr>
            <td>Title</td>
            <td>{{showData.data.title}}</td>
        </tr>
        <tr>
            <td>SubTitle</td>
            <td>{{showData.data.subtitle}}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{showData.data.tags}}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{showData.data.content}}</td>
        </tr>

    </table>


</div>